# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.gitignore.io/api/linux,visualstudiocode

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history


# End of https://www.gitignore.io/api/linux,visualstudiocode

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

cmake_targets/at_commands/build/*
cmake_targets/lte_build_oai/build/*
cmake_targets/log/*
!cmake_targets/nas_sim_tools/*
cmake_targets/nas_sim_tools/*
!cmake_targets/nas_sim_tools/CMakeLists.txt
cmake_targets/oaisim_build_oai/build/*
!targets/bin/*
targets/bin/*
!targets/bin/UE1.conf

GPATH
GRTAGS
GTAGS
